<div>
    <h1>Login</h1>
    <form action="" id="loginForm">
        <label for="">Email</label>
        <input type="text" name="email">
        <br/>
        <label for="">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <div>
        <h2>O iniciar sesion con github</h2>
        <a href="/api/auth/github"><button>Entrar con github</button></a>
    </div>

    <p>No estas registrado? <a href="/register">Registrate aqui</a></p>
</div>
<script src="/js/login.js"></script>